{minimum_otp_vsn, "27"}.

{erl_opts, [debug_info]}.

{deps, []}.

{plugins, [rebar3_hex, {rebar3_codecov, "0.7.0"}]}.

{cover_export_enabled, true}.

{project_plugins, [erlfmt, rebar3_ex_doc]}.
{erlfmt, [write]}.

{ex_doc, [
    {source_url, <<"https://github.com/personnummer/erlang">>},
    {extras, [
        <<"README.md">>,
        <<"CHANGELOG.md">>,
        <<"LICENSE">>
    ]},
    {main, <<"readme">>}
]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{dialyzer, [{plt_extra_apps, [eunit]}]}.

{profiles, [
    {test, [
        {deps, [
            {eqwalizer_support,
                {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
                    "eqwalizer_support"}}
        ]}
    ]}
]}.
